version: "2.2"

volumes:
  lev_buh:
    driver: local

services:
  php:
    container_name: ${COMPOSE_PROJECT_NAME}-php
    build:
      args:
        user: ${USER}
        uid: ${UID}
      context: php
      dockerfile: Dockerfile
    links:
      - db
    volumes:
      - "../:/var/www"
      - "./php/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini"
      - "./php/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini"
      - "./srv/:/srv"
    restart: always
    environment:
      - COMPOSER_MEMORY_LIMIT=-1
      - PHP_IDE_CONFIG=serverName=Docker
      - COMPOSER_CAFILE=/var/www/docker/cacert.pem
      - TZ=Asia/Irkutsk
    networks:
      - lev-buh-components-net

  db:
    container_name: ${COMPOSE_PROJECT_NAME}-db
    image: postgres:${POSTGRES_VERSION}
    restart: always
    volumes:
      - "lev_buh:/var/lib/postgresql/data"
      - "./db/tmp/:/tmp/"
    ports:
      - "${POSTGRES_PORT_ON_HOST}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: 'Europe/Minsk'
      PGTZ: 'Europe/Minsk'
    networks:
      - lev-buh-components-net

  nginx:
    container_name: ${COMPOSE_PROJECT_NAME}-nginx
    restart: always
    build:
      context: nginx
      dockerfile: Dockerfile
    links:
      - php
      - db
    depends_on:
      - php
    ports:
      - "${NGINX_PORT_ON_HOST}:80"
    volumes:
      - "./nginx/default.template:/etc/nginx/conf.d/default.template"
      - "../:/var/www"
      - "./srv/storage/:/srv/storage/"
      - "./srv/storage/public/:/var/www/backend/web/public/"
    environment:
      - PHP_FPM_HOST=${COMPOSE_PROJECT_NAME}-php
      - PHP_FPM_PORT=9000
    # command подменит в шаблоне вхоста переменные на значения из заданных переменных окружения
    command: /bin/bash -c "envsubst \"`for v in $$(compgen -v);do printf '$${%s} ' $$v;done`'\" < /etc/nginx/conf.d/default.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    networks:
      - lev-buh-components-net

networks:
  lev-buh-components-net:
    name: lev-buh-components-net
    driver: bridge
    ipam:
      driver: default
