main>.container {
    padding: 0 15px 20px;
}

@font-face {
    font-family: 'Clear Sans Medium';
    src: url('../css/clearsans_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Clear Sans Medium', sans-serif;
}

header {
    margin-bottom: 140px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.lev-bg {
    background-color: #468966;
}

.text-center {
    text-align: center;
}

.td {
    text-decoration: none;
}

.cw {
    color: #ffffff;
}

.cw:hover {
    color: #ffffff;
}

.ml-auto {
    margin-left: auto !important;
}

.site-error.md-top-20 {
    margin-top: 100px;
}

.dn {
    display: none;
}

.mt-10 {
    margin-top: 10px;
}

.small-font {
    font-family: GetVoIP Grotesque;
}

.tc {
    text-align: center;
}

.tf {
    text-align: justify;
}

/* header */
.header-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 3px solid #468966;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.header-menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo__link {
    display: block;
    border-radius: 30px;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: -3px 3px 20px -10px #397054;
}

.header-logo__link:hover {
    transform: scale(1.03) translateY(-0.5px);
    box-shadow: 3px 5px 10px 0px #397054;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.header-navbar a {
    text-decoration: none;
    color: #468966;
}

.header-navbar__btn {
    position: relative;
    width: 40px;
    height: 30px;

    cursor: pointer;
}

.header-navbar__btn span {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 5px;

    transition: 0.25s ease-in-out;
    transform: rotate(0deg);

    opacity: 1;
    border-radius: 5px;
    background-color: #468966;
}

.header-navbar__btn span:nth-of-type(1) {
    top: 0;
}

.header-navbar__btn span:nth-of-type(2) {
    top: 12px;
}

.header-navbar__btn span:nth-of-type(3) {
    top: 24px;
}

.header-navbar__btn.active span:nth-of-type(1) {
    top: 12px;
    transform: rotate(135deg);
}

.header-navbar__btn.active span:nth-of-type(2) {
    left: -40px;
    opacity: 0;
}

.header-navbar__btn.active span:nth-of-type(3) {
    top: 12px;
    transform: rotate(-135deg);
}

.header-navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
}

.nav-link {
    transition: 0.8s ease;
    border-bottom: solid 3px transparent;
    color: #468966 !important;
    font-size: 24px;
    padding: 0;
}

.nav-link.active,
.nav-link:hover {
    border-bottom: solid 3px #468966;
}

.header-navbar__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 15px;
    border-radius: 15px;

    list-style: none;
    text-align: right;
    box-shadow: -3px 3px 20px -10px #397054;
}

.header-navbar__contacts:hover {
    transform: scale(1.03) translateY(-0.5px);
    box-shadow: 3px 5px 10px 0px #397054;
}

/* end header */

/* footer */

.footer {
    padding: 20px 0;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

i {
    margin-right: 10px;
    margin-top: 5px;
}


.footer-logo {
    grid-area: fl;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo a {
    display: flex;
    gap: 10px;
    align-items: center
}

.footer-logo a img {
    border-radius: 16px;
    width: 60px;
    height: 60px;
}

.f2 {
    padding: 0 10px;
    margin-bottom: 0;
    font-size: 24px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    grid-area: fc;
}

.phone,
.mail {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
}

.social-icons-block {
    display: flex;
    line-height: 20px;
}

.social-icons-link {
    font-size: 40px;
    padding: 0 10px;
}

.footer-address {
    grid-area: fa;
    text-align: center;
    margin: 10px;
}

/* end footer*/

/* main page */
#main-fon {
    background-image: url('../images/main/first.png');
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 5% 0 0 10%;
}

.about-us-block {
    font-size: 24px;
}

#second-fon {
    border-radius: 100px;
    background-image: url('../images/main/second.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 0 0 10%;
    min-height: 700px;
    margin-top: 40px;
}

.lev-font-color {
    color: #468966 !important;
}

#fon .fon-title {
    margin-left: 20%;
    margin-top: 3%;
}

.title-main {
    font-size: 66px;
}

.title-children {
    font-size: 37px;
}

.consultation-appointment {
    margin: 6% 0 0 5%;
}

.consultation-appointment button {
    color: #174b23;
    padding: 20px 10px;
    font-size: 24px;
}

.consulting-submit-button {
    margin-top: 10px;
}

.main-us-select-item {
    background-color: #71a797;
    border-radius: 15px;
    padding: 30px;
    max-width: 23%;
}

.main-us-select-title {
    margin-bottom: 20px;
    margin-top: 40px;
}

.main-about-us {
    margin-bottom: 20px;
    margin-top: 60px;
}

.main-about-us-item {
    background-color: #71a797;
    border-radius: 15px;
    padding: 30px;
    max-width: 30%;
}

.main-about-us-item-last {
    background-color: #71a797;
    border-radius: 15px;
    margin-top: 10px;
}

.row {
    justify-content: space-around;
}

/* end main page */

/* start serve page */

.site-about ul {
    list-style-type: '- ';
    padding-left: 10px;
}

.site-about li {
    font-size: 30px;
}

.serve-round-image img {
    max-width: 500px;
    max-height: 500px;
}

.serve-text-block h1 {
    margin-top: 100px;
}

/* end serve page */

/* start price page */
.main-price-item img {
    max-height: 100%;
    max-width: 100%;
}

/* end price page */

@media (max-width: 767.8px) {
    .header-navbar {
        flex-direction: row-reverse;
    }

    .header-navbar__list {
        display: none;
    }
    
    .header-navbar__list.active {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background-color: #468966c4;
        color: white;
        box-shadow: -3px 3px 20px -10px #397054;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .nav-link {
        color: white !important;
    }

    .nav-link.active,
    .nav-link:hover {
        border-bottom: solid 3px white;
    }

    .footer .container {
        flex-direction: column;
        gap: 10px;
    }

    .fh2 {
        display: none;
    }
}

@media (min-width: 768px) {
    .header-navbar__btn {
        display: none;
    }
}